/*================BASE=================================*/
body {
  background-color: lightblue;
}

.main {
  background-color: white;
  margin: 0 200px 0 200px;
  height: 100%vh;
  display: grid;
  grid-template-columns: 1fr 70%;
  -webkit-font-smoothing: antialiased;
}

/*=============================LADO ESQUERDO=================*/
.left-side {
  background-color: #355586;
}

.image {
  width: 200px;
  border-radius: 50%;
  margin: 50px;
}
/*=====================Contato================*/
.contact {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: small;
}

.title {
  letter-spacing: 0.25rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 16px;
  width: 100;
  align-items: center;
}

.description {
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
}
/*=====================Habilidades================*/
.skills {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  padding-left: 40px;
}
/*=====================Certificações================*/
.certificate {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  margin-bottom: 100px;
}

/*=============================LADO DIREITO=================*/
.name {
  margin-left: 20px;
  margin-bottom: 16px;
  width: 100;
}

h1 {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #355586;
  padding-left: 32px;
  padding-top: 100px;
  margin-bottom: 16px;
}

.trace {
  display: flex;
  flex-direction: row;
  height: 1px;
  background-color: black;
  width: 70px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.sub {
  display: flex;
  flex-direction: row;
  letter-spacing: 0.25rem;
  font-family: 'Poppins', sans-serif;
  color: #5f95e6;
  padding-left: 32px;
}

.sub-title {
  letter-spacing: 0.25rem;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #5f95e6;
  margin-top: 30px;
  margin-left: 32px;
}

.text {
  width: 520px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  padding-left: 16px;
}

.list {
  width: 520px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  padding-left: 32px;
}

.education {
  padding-bottom: 150px;
}
